* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#main_container {
    width: 80%;
    max-width: 900px;
    margin: auto;
}

h1 {
    line-height: 100px;
    vertical-align: middle;
    text-align: center;
    color: rgba(229,49,112,255);
}

#main_container p:first-of-type {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
    text-align: center;
}

.clear_fix::after {
    content: "";
    display: table;
    clear: both;
}

.info_container {
    width: 33.3333%;
    font-size: 12px;
    float: left;
    background-color: rgba(15,14,23,255);
    border-left: 10px solid white;
    border-right: 10px solid white;
    border-top: 20px solid white;
    border-bottom: 15px solid white;
}

.profile_picture {
    height: 90px;
    float: left;
}

.dev_name, .dev_spec, .dev_mail {
    width: 66.6666%;
    line-height: 30px;
    padding-left: 15px;
    float: left;
}

.white_text {
    color: rgba(255, 255, 255, 255);
}

.azure_text {
    color: rgba(62,180,231,255);
}
